@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right,#13293D , #336EA3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: small;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}